# Ignorar arquivos e pastas do ambiente virtual
venvGDO/
venvGDO/*

# Ignorar arquivos temporários do sistema operacional
.DS_Store
Thumbs.db
*.swp

# Ignorar arquivos de compilação do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignorar arquivos relacionados ao Jupyter Notebook
.ipynb_checkpoints/

# Ignorar arquivos de configuração locais
.env
*.env

# Ignorar arquivos temporários do Excel e CSVs gerados
*.xls
*.xlsx
*.csv

# Ignorar arquivos do QGIS temporários
*.aux.xml
*.qgz~
*.qgs~
*.qlr

# Ignorar arquivos de cache do geopandas
.gpkg-journal
*.lock

# Ignorar arquivos de backup
*.bak
*.tmp
*.old

# Ignorar outros arquivos indesejados
*.log

vtcrime-d6a61-firebase-adminsdk-fbsvc-86c34e822c.json
*node_module*

Interacao_Dados.xlsx